{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}


<div class="row align-items-center justify-content-center">
    <section class="buttons">
        <div class="form-group">
            {% crispy form %}
            <section class="buttons">
                <div class="form-group">
                    <div class="form-group last mb-3">
                        <button type="submit" value="Confirm" class="btn btn-block btn-primary">Confirm</button>
                    </div>
                    <div class="form-group last last mb-3">
                        <a href="{% url 'character_sheet_list' %}"
                           role="button"
                           class="btn btn-block btn-danger"
                        >Cancel</a>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

<!--<link rel="stylesheet" type="text/css" href="{% static 'css/charactersheet.css' %}">-->


{% endblock %}


