{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <title></title>
</head>
<body>

<nav class="navbar navbar-light bg-light" style="background-color: #999499;">
    <div class="d-flex p-2">
        <div class="navbar-nav d-flex justify-content-start">
        <a class="navbar-brand" href="{% url 'character_sheet_list' %}">Role<b>App</b></a></div>
        {% if user.is_authenticated %}
        <div class="navbar-nav d-flex justify-content-end">
            <ul class="navbar-nav flex-row">
                <!--<li><a class="btn btn-secondary btn-small navbar-btn" href=""> Change password </a></li>-->
                <li><a class="btn btn-danger btn-small navbar-btn" href="{% url 'logout' %}"> Logout </a></li>
            </ul>
        </div>

        {% endif %}
    </div>
</nav>
<div>
    {% block content %}
    {% endblock %}
</div>
<section class="">
    <footer class="text-center text-white" style="background-color: #999499;">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 roleapp.com
        </div>
    </footer>
</section>

</body>
</html>